.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;  
  padding: 20px;
  box-sizing: border-box;
}


.home-page .top-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
}


.home-page .logo-container {
  flex-grow: 1;
  display: flex;                  
  justify-content: center;       
  align-items: center;           
}

.home-page .trivisum-logo {
  max-width: 40%;   
  height: auto;
}

.home-page .login-btn {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
